name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2-rust:latest 
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: |
          apt install -y rsync
          rsync -av ./ /root/ros2_ws/src/ogm_flow_estimator_static/    
          cd /root/ros2_ws
          colcon build
          bash -xv ./src/ogm_flow_estimator_static/test/test.bash /root
